## Exercício Cap 01

In [1]:
# Exercício 1 - Imprima na tela os números de 1 a 10
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [2]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela
paises = ["Brasil", "Chile", "Argentina", "Uruguai", "Peru"]
paises

['Brasil', 'Chile', 'Argentina', 'Uruguai', 'Peru']

In [10]:
paises.clear()

In [3]:
Nome = "Maria"
Sobrenome = "Silva"
Fullname = Nome +" "+Sobrenome

Fullname

'Maria Silva'

In [5]:
Nome = input("What's your name? ")
Cidade = input("Where are you from? ")

What's your name? Suellen
Where are you from? Rio de Janeiro

In [6]:
Fullname = Nome +" do "+Cidade
Fullname

'Suellen do Rio de Janeiro'

In [8]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla

tupla = (1,2,2,3,4,4,4,5)
tupla.count(4)

3

In [13]:
# Exercício 5 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela
dic = {"TimeA":["Maria","Ana","Luis"],"TimeB":["João","Fernanda","Bruna"],"TimeC":{"Gabi","Isa","José"}}
dic

{'TimeA': ['Maria', 'Ana', 'Luis'],
 'TimeB': ['João', 'Fernanda', 'Bruna'],
 'TimeC': {'Gabi', 'Isa', 'José'}}

In [12]:
# Exercício 6 - Adicione mais uma ferramenta ao dicionário criado no exercício anterior e imprima na tela
dic["TimeD"] = ["Felipe","Enzo","Soraia"]
dic

{'TimeA': ['Maria', 'Ana', 'Luis'],
 'TimeB': ['João', 'Fernanda', 'Bruna'],
 'TimeC': {'Gabi', 'Isa', 'José'},
 'TimeD': ['Felipe', 'Enzo', 'Soraia']}

In [17]:
# Exercício 7 - Crie um arquivo chamado nomes.txt no diretório onde está este notebook, grave 5 nomes no arquivo e 
# feche-o.
arq = open("nomes.txt","w")
arq.write("Maria,João,José,Luiz,Antônio")
arq.close()

In [19]:
# Exercício 8 - Abra o arquivo criado no item anterior e leia o arquivo na tela.
arq = open("nomes.txt","r")
arq.read()

'Maria,João,José,Luiz,Antônio'

In [21]:
# Exercício 9 - Crie um dicionário vazio e imrpima na tela
dic = {}
dic

{}

In [25]:
# Exercício 10 - Complelete o trecho de código abaixo criado com Pandas e use a função tail() para ler os últimos 
# elementos do dataset.
import pandas as pd
file_name = "salarios.csv"
df = pd.read_csv(file_name)

df.tail()

,Name,Position Title,Department,Employee Annual Salary
32177,"ZYGOWICZ, PETER J",POLICE OFFICER,POLICE,$86520.00
32178,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,$83616.00
32179,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,$86520.00
32180,"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DoIT,$110352.00
32181,NaN,NaN,NaN,NaN

## Fim!